@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Permanent+Marker&family=Josefin+Sans&family=Yanone+Kaffeesatz&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: 'Permanent Marker', sans-serif;
  font-size: 3rem;
  color: whitesmoke;
}

h2 {
  text-align: center;
  font-size: 1.8rem;
  color: whitesmoke;
}

input {
  width: 30px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  font-size: 1.2rem;
}

textarea {
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 5px;
  resize: none;
  outline: none;
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(65, 65, 65);
}
textarea::placeholder {
  /* font-family: 'Architects Daughter', sans-serif; */
  font-size: 1.2rem;
}

select {
  width: 100%;
  font-family: inherit;
  font-size: 1.2rem;
  padding-top: 3px;
  border: none;
  border-radius: 3px;
  transition: all 0.2s;
}

select:focus {
  outline: none;
  background-color: #fff;
}

.title {
  line-height: 2.75rem;
  margin-top: 2rem;
  text-align: center;
  font-style: italic;
}

.highlight {
  position: relative;
  font-size: 2.5rem;
}

.highlight::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-35deg);
  background-image: linear-gradient(to right, rgb(0, 92, 0), rgb(156, 223, 0));
}

.josefin {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  color: white;
  opacity: 0.9;
  margin-top: 2px;
  font-style: italic;
  text-align: center;
  /* opacity: 70%; */
}

.container {
  display: flex;
  align-items: center;
  background-color: rgb(41, 41, 41);
  width: 97vw;
  height: 95vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.content {
  /* border: 3px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 10;
}

.leftmenu-container {
  background-color: rgb(41, 41, 41);
  height: 83vh;
  width: 25vw;
  overflow: auto;
  z-index: -2;
}

.form {
  background-color: rgb(41, 41, 41);
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  font-size: 1.2rem;
  transition: all 0.3s;
  margin: 10px 25px 0px 20px;
}

.form.hidden {
  opacity: 0;
  transform: translateY(-30rem);
}

.form__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.form__row--thoughts {
  display: flex;
}

.walk-title {
  font-size: 1.8rem;
}

.walk__details {
  font-size: 1.2rem;
}

.walk {
  background-color: rgb(41, 41, 41);
  color: white;
  list-style: none;
  padding: 10px;
  /* z-index: 1; */
  /* font-size: 1.8rem; */
}

.walk:hover {
  cursor: pointer;
}

.walk__container {
  display: flex;
  padding: 3px;
  justify-content: space-between;
}

.walk__thoughts {
  text-align: justify;
}

.delete__walk {
  font-size: 0.5rem;
  opacity: 0.8;
}

.form__btn {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgb(0, 92, 0);
  border-radius: 5px;
  margin-left: 3px;
  padding: 5px;
}

.form__btn:hover {
  background-color: rgb(156, 223, 0);
}

.fas.fa-walking {
  font-size: 2.5rem;
  color: white;
  opacity: 0.8;
}

.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: rgb(41, 41, 41);
  color: whitesmoke;
  border-radius: 5px;
  /* padding-right: 0.3rem; */
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.2rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: rgb(156, 223, 0);
}

.leaflet-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid rgb(156, 223, 0);
}

.stepcounter {
  position: absolute;
  bottom: 0px;
  margin-left: 10%;
  margin-bottom: 10px;
  color: white;
  opacity: 0.8;
}

#mapid {
  background-color: gray;
  /* border: 3px solid black; */
  width: 70vw;
  height: 93vh;
  border-radius: 3px;
}
